{{- '<|im_start|>system\nJudge whether the Document meets the requirements based on the Query and the Instruct provided. Note that the answer can only be "yes" or "no".<|im_end|>\n' }}
{{- '<|im_start|>user\n<Instruct>: Given a search query, retrieve relevant candidates that answer the query.<Query>: ' }}
{%- for message in messages -%}
    {%- if message.role == "query" -%}
        {{- message.content }}
    {%- endif -%}
{%- endfor -%}
{{- '\n<Document>: ' }}
{%- for message in messages -%}
    {%- if message.role == "document" -%}
        {{- message.content }}
    {%- endif -%}
{%- endfor -%}
{{- '<|im_end|>\n<|im_start|>assistant\n' }}